@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 2em;
}

.opdrtitel {
    margin: 2em 0em;
}

.links {
    margin: 1em;
}