@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.wrapperdiv {
    padding-bottom: 3em;
}

.opdrtitel {
    margin: 1.5em 0em;
}

.links {
    margin: 1em;
}

.emptyspace {
    padding-bottom: 4em;
}